<!DOCTYPE html>
<html>
  <head>
    <title>TejasApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application" %>
    <% if controller_name == 'dice' %>
      <%= stylesheet_link_tag "dice" %>
    <% end %>
  </head>

  <body>
   <%= yield %>
  </body>
</html>
